// global.scss

@charset "utf-8";

// Reset and global styles
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
::after,
::before {
  background-repeat: no-repeat;
  box-sizing: border-box;
  flex-shrink: 0;
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
  tab-size: 4;
  line-height: 1.5;
  // android
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:where(html, body) {
  height: 100%;
}
:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}
:where(ol, ul) {
  list-style: none;
}
:where(a) {
  text-decoration: none;
}
:where(button) {
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
  overflow: visible;
  white-space: nowrap;
  cursor: pointer;
}
// :where([type=button], [type=reset], [type=submit], button) {
//   appearance: button;
// }
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
  border-spacing: 0;
}
:where(caption, legend) {
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  color: transparent;
}
:where(iframe, fieldset) {
  border: none;
  border-style: none;
}
