@charset "utf-8";

/* root */
:root {
  --color-prm : #3281ff;
  --color-2nd : #09532a;
  --color-3rd : #ff6c27;
  --color-4th : #fffc4d;
  --color-5th : #22031d;

  --color-black : #000;
  --color-white : #fff;

  --color-dark : #929292;
  --color-dkgray : #414141;
  --color-gray : #929292;
  --color-ltgray : #ddd;
  --color-light : #f9f9f9;

  --font: Dotum;
  --fonts: sans-serif;

  --font12: 12rem var(--font);
  --font13: 13rem var(--font);

  --font14: 14rem var(--font);
  --font15: 15rem var(--font);
  --font16: 16rem var(--fonts);
  --font18: 18rem var(--fonts);

  --color_font00: #fff;
  --color_font01: #1a1a1a;
  --color_font02: #5a5a5a;
  --color_line01: #1a1a1a;
  --color_bg01: #5a5a5a;
}

/* ex */
.two {
  color: var(--my-var, red); /* --my-var가 정의되지 않았을 경우 red로 표시됨 */
}

.three {
  background-color: var(
    --my-var,
    var(--my-background, pink)
  ); /* my-var와 --my-background가 정의되지 않았을 경우 pink로 표시됨 */
}

.three {
  background-color: var(
    --my-var,
    --my-background,
    pink
  ); /* 유효하지 않음: "--my-background, pink" */
}

/* todo
- break point
- 공통부분 정의
  var / font / layout / spacing / mg, pd / display / icons / buttons
- 테마정의(custiom style) 
*/
/* m - applies margin
p - applies padding
The direction designates the side the property applies to:

t - applies the spacing for margin-top and padding-top
b - applies the spacing for margin-bottom and padding-bottom
l - applies the spacing for margin-left and padding-left
r - applies the spacing for margin-right and padding-right
s - applies the spacing for margin-left/padding-left (in LTR mode) and margin-right/padding-right (in RTL mode)
e - applies the spacing for margin-right/padding-right (in LTR mode) and margin-left/padding-left (in RTL mode)
x - applies the spacing for both *-left and *-right
y - applies the spacing for both *-top and *-bottom
a - applies the spacing for the property in all directions
The size controls the increment of the property in 4px intervals:

0 - eliminates all margin or padding by setting it to 0
1 - sets margin or padding to 4px
2 - sets margin or padding to 8px
3 - sets margin or padding to 12px
4 - sets margin or padding to 16px
5 - sets margin or padding to 20px
6 - sets margin or padding to 24px
7 - sets margin or padding to 28px
8 - sets margin or padding to 32px
9 - sets margin or padding to 36px
10 - sets margin or padding to 40px
11 - sets margin or padding to 44px
12 - sets margin or padding to 48px
13 - sets margin or padding to 52px
14 - sets margin or padding to 56px
15 - sets margin or padding to 60px
16 - sets margin or padding to 64px
n1 - sets margin to -4px
n2 - sets margin to -8px
n3 - sets margin to -12px
n4 - sets margin to -16px
n5 - sets margin to -20px
n6 - sets margin to -24px
n7 - sets margin to -28px
n8 - sets margin to -32px
n9 - sets margin to -36px
n10 - sets margin to -40px
n11 - sets margin to -44px
n12 - sets margin to -48px
n13 - sets margin to -52px
n14 - sets margin to -56px
n15 - sets margin to -60px
n16 - sets margin to -64px
auto - sets the spacing to auto */

/* .d-flex
.d-inline-flex
.d-sm-flex
.d-sm-inline-flex
.d-md-flex
.d-md-inline-flex
.d-lg-flex
.d-lg-inline-flex
.d-xl-flex
.d-xl-inline-flex */

/* overflow-auto
overflow-hidden
overflow-visible
overflow-x-auto
overflow-x-hidden
overflow-x-visible
overflow-y-auto
overflow-y-hidden
overflow-y-visible */

/* h1
h2
h3
h4
h5
h6
subtitle-1
subtitle-2
body-1
body-2
button
caption
overline */

/* .rounded-sm, .rounded, .rounded-lg, .rounded-xl  rounded-lg rounded-t-0  rounded-lg rounded-r-0 rounded-0 rounded-t-xl rounded-tl-xl*/

/* v-fab-transition
v-fade-transition
v-expand-transition
v-scale-transition
v-scroll-x-transition
v-scroll-x-reverse-transition
v-scroll-y-transition
v-scroll-y-reverse-transition
v-slide-x-transition
v-slide-x-reverse-transition
v-slide-y-transition
v-slide-y-reverse-transition */

/* .d-{value} for xs
.d-{breakpoint}-{value} for sm, md, lg and xl
The value property is one of:

none
inline
inline-block
block
table
table-cell
table-row
flex
inline-flex */
/* ex */

/* commons */
* {
  font-family: 'NotoSansKR', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.hide {
  display: none !important;
}

/* loading */
.loading {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  &.active {
    display: block;
  }
}
/* layout */
#wrap { 
  padding: 0;
  margin: 0;
}

/* header */
.header {
  .hta {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: var(--color-dark);
  }
  .logo {
    margin-right: auto;
    color: var(--color-white);
  }
  .options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    color: var(--color-white);
  }
  .progress {
    background-color: antiquewhite;
  }
  .counter {
    background-color: rgb(242, 255, 167);
  }
} 

/* container */
main {
  &:is(.container) {
    border: 1px solid #111;
    display: flex;
    gap: 10px;
  }
  .gnb {
    width: 100px;
    &.fold {
      display: none;
    }
  }
  .preview {
    display: none;
  }
  .contents {
    flex: 1;
  }
}

/* footer */
.footer {
  height: 200px;
  background-color: #e6e6e6;
}

/* floating */
.floating {
  display: none;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.floating:is(.active) {
  display: block;
}
.floating .floating-header {
  display: flex;
  align-items: center;
}


/* component */
/* filter */
.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* category */
.category {
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
}
/* table */
.table {
  width: 100%;
}
.table :where(th, td) {
  border: 1px solid var(--color_line01);
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.table th {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color_font00);
  background-color: var(--color_bg01);
}
.table .fin {
  background-color: rgb(255, 254, 234);
}
.table .fin td {
  color: rgb(255, 77, 0);
}
.table .mod {
  background-color: rgb(234, 249, 255);
}
.table .mod td {
  color: rgb(51, 0, 255);
}
.table .del {
  background-color: rgb(255, 229, 229);
}
.table .del td {
  text-decoration: line-through;
}
.table .select {
  background-color: rgb(231, 231, 231);
}
.table td.note .btn {
  border: 1px solid #1a1a1a;
  width: 1.6rem;
  height: 1.6rem;
  align-items: center;
  justify-content: center;
  display: none;
}
.table td.note .btn i {
  width: 0.7rem;
  height: 0.7rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table td.note .btn i::before,
.table td.note .btn i::after {
  content: "";
  display: block;
  background-color: #1a1a1a;
}
.table td.note .btn i::before {
  width: 100%;
  height: 1px;
}
.table td.note .btn i::after {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.3rem;
  transition: all 0.3s;
}
.table td.note.active .btn i::after {
  opacity: 0;
  transform: rotate(90deg);
}
.table td.note.multi .btn {
  display: flex;
}
.table td.note.multi .note-memo p:not(:last-child) {
  display: none;
}
.table td.note.multi.active .note-memo p {
  display: block;
}
/* toast */
@keyframes ani-toast {
  0% {
    bottom: 0;
    opacity: 0;
  }
  25% {
    bottom: 2rem;
    opacity: 1;
  }
  75% {
    bottom: 2rem;
    opacity: 1;
  }
  100% {
    bottom: 2rem;
    opacity: 0;
  }
}
.toast > .inner {
  display: flex;
  align-items: center;
  min-width: 12rem;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color_font00);
  background-color: var(--color_bg01);
  border: 1px solid var(--color_line01);
  position: fixed;
  bottom: 0;
  right: 2rem;
  opacity: 0;
  animation: ani-toast 1.5s linear;
}
.toast .inner :where(.text, .text .var) {
  display: flex;
  align-items: center;
}
.toast .inner .text span + span {
  margin-left: 1rem;
}
.toast .inner .text .var em {
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* progress */
[class^="progress"] {  
  display: flex;
  align-items: center;
}
.progress-bar {
  margin-left: 2rem;
}
.progress-bar > * + * {
  margin-left: 0.5rem;
}
.progress-bar .bar {
  background-color: rgb(214, 214, 214);
  width: 10rem;
  height: 1rem;
  display: flex;
  align-items: center;
}
.progress-bar .bar span {
  width: 0;
  height: 100%;
  display: block;
  background-color: rgb(92, 125, 255);
}